<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid *ngIf="currentRole === 'admin'">
      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-select value="default" (ionChange)="optionsFn($event)" class="form-control mg-t-10" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="default" disabled>Please choose region</ion-select-option>
            <ion-select-option value="1">High</ion-select-option>
            <ion-select-option value="2">Medium</ion-select-option>
            <ion-select-option value="3">Low</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="12" *ngIf="currentRegion === '1'">
          <table width="100%" style="border: 1px solid black">
            <thead style="background: gray">
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 35%">Name</th>
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 20%">Age</th>
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 20%">Gender</th>
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 5%"></th>
            </thead>
            <tbody>
              <tr *ngFor="let item of reportData">
                <td style="padding: 5px;font-size: 8pt;text-align: left">{{ item.name }}</td>
                <td style="padding: 5px;font-size: 8pt;text-align: left">46</td>
                <td style="padding: 5px;font-size: 8pt;text-align: left">Male</td>
                <td style="padding: 5px;font-size: 8pt;text-align: left">
                  <a style="text-decoration: underline" routerLink="/report-detail" routerDirection="forward">detail</a>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
        <ion-col size="12" *ngIf="currentRegion === '2'">
          <table width="100%" style="border: 1px solid black">
            <thead style="background: gray">
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 35%">Name</th>
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 20%">Age</th>
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 20%">Gender</th>
              <th style="padding: 5px;font-size: 8pt;text-align: left; width: 5%"></th>
            </thead>
            <tbody>
              <tr>
                <td style="padding: 5px;font-size: 8pt;text-align: left">Jessica</td>
                <td style="padding: 5px;font-size: 8pt;text-align: left">24</td>
                <td style="padding: 5px;font-size: 8pt;text-align: left">Female</td>
                <td style="padding: 5px;font-size: 8pt;text-align: left">
                  <a style="text-decoration: underline" routerLink="/report-detail" routerDirection="forward">detail</a>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="currentRole === 'user'">
      <ion-row>
        <ion-col>
          <form (ngSubmit)="onSubmit()" [formGroup]="reportForm">
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col>
                    Name
                  </ion-col>
                </ion-row>
                <ion-row class="mg-b-10">
                  <ion-col>
                    <ion-input full placeholder="Name" type="text" formControlName="name" class="form-control"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Age
                  </ion-col>
                </ion-row>
                <ion-row class="mg-b-10">
                  <ion-col>
                    <ion-input full placeholder="Age" type="text" formControlName="age" class="form-control"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Address
                  </ion-col>
                </ion-row>
                <ion-row class="mg-b-10">
                  <ion-col>
                    <ion-input full placeholder="Address" type="text" formControlName="address" class="form-control"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Take a photo
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button (click)="onTakePhoto()">
                      Take a Photo
                    </ion-button>
                    <img style="width: 30%" [src]="base64Image" *ngIf="base64Image" />
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Gender
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2">
                    <ion-radio-group formControlName="gender">
                      <ion-row>
                        <ion-radio value="MALE" mode="md"></ion-radio>
                      </ion-row><br>
                      <ion-row>
                        <ion-radio value="FEMALE" mode="md"></ion-radio>
                      </ion-row><br>
                      <ion-row>
                        <ion-radio value="OTHERS" mode="md"></ion-radio>
                      </ion-row>
                    </ion-radio-group>
                  </ion-col>
                  <ion-col size="8">
                    <ion-row>
                      <ion-label>Male</ion-label>
                    </ion-row><br>
                    <ion-row>
                      <ion-label>Female</ion-label>
                    </ion-row><br>
                    <ion-row>
                      <ion-label>Others</ion-label>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-padding">
                  <ion-col size="8">
                    <h4 style="margin: 0;">
                      <ion-icon slot="start" [ios]="'location-outline'" [md]="'location-sharp'"></ion-icon>
                      Tag your location!
                    </h4>
                    <p style="font-size: 10pt;margin: 0;">And also pin your location!</p>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-padding">
                  <ion-col size="8">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" (mapClick)="onSetMarker($event)">
                      <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
                    </agm-map>
                    <ion-input type="hidden" value="{{ lat }}" formControlName="latitude"></ion-input>
                    <ion-input type="hidden" value="{{ lng }}" formControlName="longitude"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-padding">
                  <ion-col size="9">
                    <ion-button type="button" ion-button class="btn btn-full btn-primary" (click)="onLocate()">Get Your
                      Location</ion-button>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-button style="width: 25%" [disabled]="!reportForm.valid" type="submit">Submit</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>